@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,300;700;1,300&display=swap');

.content{
    margin: 0 auto;
    max-width: 1300px;
    padding: 24px;
    display: flex;
    gap: 55px;
    font-family: Montserrat, sans-serif;
}

.bookCover img {
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    min-width: 250px;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.bookInfo h2 {
    font-size: 35px;
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.bookAuthor {
    display: block;
    color: #0279ba;
    font-weight: 600;
}

.buyItem {
    width: 280px;
    min-width: 240px;
    padding: 30px;
    align-self: flex-start;
    border: solid 1px #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftBlock {
    display: flex;
    gap: 40px;
    flex-grow: 1;
}

.hiddenDescription {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.fullDescription {
    max-height: 300px;
}

.showMore {
    text-decoration: none;
    border: none;
    background: none;
    width: 150px;
    color: #0279ba;
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
    text-align: left;
}

.showMore:hover {
    text-decoration: underline;
}

.tableTitle {
    font-weight: 500;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px 0;
    border-bottom: 1px solid  #e6e6e6;
}

.rightTd {
    text-align: right;
}

.price {
    font-size: 24px;
    color: black;
}

.available {
    color: green;
    font-weight: 450;
}
