.genreTag {
    display: inline-flex;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 5px;
}

.genreTagLink {
    color: inherit;
    text-decoration: none;
}

.genreTagLink:hover {
    text-decoration: underline;
}