* {
    font-family: Inter;
    box-sizing: border-box
}

.auth_modal {
    border-radius: 10px;
    border: 1px solid;
    position: fixed;
    padding: 40px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.auth_content span {
    font-size: 18px;
}
.auth_content input {
    border: 1px solid  #cccccc;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    width: 80%;
}

.auth_content button {
    border: none;
    border-radius: 7px;
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    background: linear-gradient(180deg, #FF8A00 0%, #FF6A00 100%);
    color: white;
    cursor: pointer
}


.modal_header {
    display: flex;
    justify-content: center;
}

