* {
    font-family: Inter, sans-serif;
    box-sizing: border-box
}

.authModal {
    border-radius: 10px;
    border: 1px solid;
    padding: 40px;
    min-width: 200px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.authContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.authContent span {
    font-size: 18px;

}
.authContent input {
    border: 1px solid  #cccccc;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    width: 80%;
}

.authContent button {
    border: none;
    border-radius: 7px;
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    background: linear-gradient(180deg, #FF8A00 0%, #FF6A00 100%);
    color: white;
    cursor: pointer
}


.modalHeader {
    display: flex;
    justify-content: center;
}

.registrationLink {
    text-decoration: none;
    color: #0056b3;
    margin-left: 2px;
}

.registrationLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 10px;
}
