@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #e6f2f5;
    width: 100%;
    font-family: Montserrat, sans-serif;

}

.headerInner {
    max-width: 100%;
    margin: 0 auto;
    height: 80px;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    gap: 25px;
    box-sizing: border-box;
}


.logoText {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}


.blackText {
    color: black;
}

.blueText {
    color: #0893cf;
}

.searchContainer {
    max-width: 800px;
    width: 100%;
    position: relative;
}

.searchContainer input {
    border-style: solid;
    border-radius: 25px;
    border-color: #74cafc;
    height: 40px;
    padding: 0 48px 0 16px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    background-image: url('/src/assets/find.png');
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: right center;

}

.headerLeft,
.headerRight {
  display: flex;
  min-width: 200px;
  align-items: center;
}

.headerLeft {
    margin-right: auto;
}
.headerRight {
    margin-left: auto;
}

.headerCenter {
    flex: 1;
    display: flex;
    justify-content: center;
}

.headerLeft img {
    width: 60px;
    height: 60px;
}

.headerRight img {
    width: 30px;
    height: 30px;
}

.headerRight {
    align-items: center;
    display: flex;
    gap: 20px;

}

.clickableIcon:hover  {
    cursor: pointer;
}
