input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.content{
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    font-family: Montserrat, sans-serif;
    padding: 25px 30px;
    gap: 30px;
    flex-direction: column;
}

.mainForm {
    border-radius: 8px;
    border: 1px solid lightgray;
    width: 60%;
    padding: 20px 20px 20px 20px;
    flex-direction: column;
    display: flex;
    gap: 30px;
}

.inputBlock {
    display: flex;
    gap: clamp(24px, 5vw, 80px);
    width: 100%;
}

.radioBlock {
    display: flex;
}

.leftInputBlock, .rightInputBlock {
    flex-direction: column;
    display: flex;
    gap: 10px;
    flex: 1;
}

.leftRadioBlock, .rightRadioBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}


.mainForm input:not([type="radio"]) {
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.orderReview {
    display: flex;
    width: 35%;
    flex-direction: column;
    gap: 15px;
    background-color: #FCFAFA;
    border-radius: 8px;
    border: 1px solid lightgray;
    position: sticky;
    overflow-wrap: break-word;
    padding: 20px 20px 20px 20px;
}

.confirmOrder button{
    border: none;
    border-radius: 12px;
    font-size: 15px;
    width: 100%;
    background-color:  darkorange;
    color: white;
    padding: 15px;
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
    width: 100%;
    align-self: center;
}

.radioLabel {
    display: flex;
    gap: 10px;
}

.commentInfo {
    color: gray;
    font-weight: lighter;
}

.commentBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentBlock textarea {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
    min-height: 80px;
    resize: none;
}

.finalPrice {
    display: flex;
    justify-content: space-between;
    padding-right: 15px; /* Price is aligned with prices from CartItem (should be fixed later)  */
}


.finalPrice span {
    width: 100px;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    flex-shrink: 0;
}

.capitalLetters input {
    text-transform: capitalize
}